body{
	margin: 0;
	background-color: #a5b686;
	font-family: Helvetica, Arial, sans-serif;
}

header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
}

h1{
	font-family: 'Lobster', cursive;
}


header h1{
	color: white;
	font-size: 30px;
}

header img{
	border-radius: 170px;
	width: 200px;
	border: 7px solid #738d5b;
}

main{
	max-width: 560px;
	margin: 0 auto;
}

main img{
	max-width: 8%;
	padding-left: 17px;
}

h2{
	text-align: center;
	border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}
h2 p{
	font-size: 10px;
}

a{
	color: #738d5b;
}

footer p{
	text-align: center;
}

